/* Variables */

/* ## Colors */

:root {

/* ### Primary */

--dark-blue: #2d314d;
--lime-green: #31d35c;
--bright-cyan: #2bb7da;

/* ### Neutral */

--grayish-blue: #9698a6;
--lightgrayish-blue: #f3f4f6;
--very-light-gray: #fafafa;
--white: #ffffff;

}

/* RESET */

* {
    box-sizing: border-box;
}

body,p,a,ul,li, h1{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
  
a {
    color: red;
}
  
li {
    list-style-type: none;
}

/* BASE STYLES */

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

body.overlay-active {
    overflow-y: hidden;
}

img {
    width: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}

.mainer {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    padding: 1em;
}

.flex-row {
    display: flex;
}

.heading {
    font-weight: 300;
    text-align: center;
    color: var(--dark-blue);
}

h3.heading {
    font-weight: 400;
}

p.description {
    color: var(--grayish-blue);
    line-height: 1.5em;
    text-align: center;
}

.cta-button {
    width: fit-content;
    display: block;
    font-size: 0.95em;
    font-weight: 700;
    color: White;
    letter-spacing: 0.05em;
    padding: 0.8em 2em;
    border-radius: 1.5em;
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}

/* JavaScript classes */

.leave {
    transform: translateY(-250%);
}

.arrive {
    transform: translateY(0);
}

/* MOBILE STYLES */

/* header */

header.header {
    position: relative;
    background-color: var(--white);
    display: flex;
    padding-top: 0.4em;
    z-index: 10;
}

header.header  .flex-row {
    align-items: center;
    position: relative;
}

header.header  .flex-row a.logo {
    display: block;
    width: 50%;
    line-height: 0;
}

header.header  .flex-row a.logo img{
    max-width: 200px;
}

nav.navigation {
    margin-left: auto;
}

nav.navigation .toggler{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

nav.navigation .close {
    position: absolute;
    top: 0;
    right: 0.5em;
    transform: translateY(-200%);
    background-image: url(../images/icon-close.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease-in;
}

nav.navigation .close.arrive {
    transform: translateY(0);
}

nav.navigation .toggler span.toggler-line {
    height: 1px;
    width: 35px;
    background-color: black;
    margin: 4px;
}

header.header ul.menu-list {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 7em;
    border-radius: 0.4em;
    background-color: var(--white);
    z-index: 2;
    transition: transform 0.4s ease-in;
}

header.header ul.menu-list.arrive {
    transform: translate(-50%, 0);
}

header.header ul.menu-list li.menu-item {
    margin: 0.5em 0;
}

header.header ul.menu-list li.menu-item a {
    color: var(--dark-blue);
}

header.header .cta-button {
    display: none;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.overlay.active {
    display: block;
}

/* showcase */
.showcase {
    background-color: var(--very-light-gray);
}

.showcase .showcase-bg {
    height: 45vh;
    background-image: url(../images/image-mockups.png), url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%, 100% 60%;
    background-size: 90%, cover;
}

.showcase .showcase-content {
    padding-top: 1em;
}

.showcase .showcase-content h1 {
    margin-bottom: 1rem;
}

.showcase .showcase-content p {
    margin-bottom: 1rem;
}

.showcase .showcase-content .cta-button {
    margin: 0 auto 2rem;
}

/* Options */

.options {
    background-color: var(--lightgrayish-blue);
}

.options h1 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.9em;
}

.options .options-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.options .option-card {
    margin: 0 auto;
    min-width: 250px;
    max-width: 320px;
}

.options .option-card .option-img {
    width: 5em;
    display: block;
    margin: 3em auto 1em;
}

.options .option-card:last-of-type {
    margin-bottom: 5em;
}

/* Articles */

.articles {
    background-color: var(--very-light-gray);
}

.articles h2 {
    font-size: 1.9em;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.articles .articles-list {
    display: flex;
    flex-wrap: wrap;
}

.articles .article-card {
    max-width: 320px;
    min-width: 250px;
    margin: 0 auto;
}

.articles .article-card .article-img {
    height: 200px;
    margin: 0 auto;
    border-radius: 0.3em 0.3em 0 0;
    background-size: cover;
    background-position: center;
}

.articles .article-card .article-img.one{
    background-image: url(../images/image-currency.jpg);
}
.articles .article-card .article-img.two{
    background-image: url(../images/image-restaurant.jpg);
}
.articles .article-card .article-img.three{
    background-image: url(../images/image-plane.jpg);
}
.articles .article-card .article-img.four{
    background-image: url(../images/image-confetti.jpg);
}

.articles .article-card .article-text {
    width: 85%;
    margin: 1.5em auto;
}

.articles .article-card .article-text h3.heading, 
.articles .article-card .article-text p.description {
    text-align: start;
}

.articles .article-card .article-text h3.heading {
    font-size: 1.1em;
}

.articles .article-card .article-text p.description {
    font-size: 0.9em;
}

.articles .article-card span.subheading {
    font-size: 0.8em;
    display: block;
    color: var(--grayish-blue);
}

/* Footer */

footer.footer {
    background-color: var(--dark-blue);
}

footer.footer a.logo {
    display: block;
    margin: 2em 0
}

footer.footer a.logo img {
    display: block;
    min-width: 50%;
    margin: 0 auto;
}

footer.footer ul.social-list {
    margin-bottom: 2.5em;
    display: flex;
    justify-content: center;
}

footer.footer ul.social-list li.social-item {
    margin: 0 0.5em;
}

footer.footer ul.link-list {
    text-align: center;
    font-weight: 300;
}

footer.footer ul.link-list li {
    margin: 1em 0;
}

footer.footer ul.link-list li a {
    color: white;
}

footer.footer .cta-button {
    margin: 3em auto;
}

footer.footer span {
    display: block;
    text-align: center;
    color: var(--grayish-blue);
    margin-bottom: 3em;
}

/* MEDIA QUERIES */

/* Tablet */


@media screen and (min-width: 768px) {

    .mainer {
        max-width: 720px;
    }

    header.header {
        position: relative;
        background-color: var(--white);
        display: flex;
        padding-top: 0.4em;
        z-index: 10;
    }
    
    header.header  .flex-row {
        align-items: center;
        position: relative;
    }

    header.header  .flex-row a.logo {
        width: 25%;
    }

    header.header  .flex-row a.logo img {
        max-width: 230px;
    }
    
    nav.navigation {
        margin: 0;
        width: auto;
        margin-left: auto;
    }
    
    nav.navigation .toggle-btns{
        display: none;
    }
    
    header.header ul.menu-list {
        position: static;
        transform: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        border-radius: 0;
        z-index: 0;
    }
    
    header.header ul.menu-list li.menu-item {
        margin: 0.5em 0.5em;
    }

    header.header ul.menu-list li.menu-item a {
        color: var(--grayish-blue);
    }
    
    header.header .cta-button {
        display: block;
        font-size: 0.8em;
        letter-spacing: 0.05em;
        padding: 0.8em 2em;
        margin-left: auto;
    }

    .showcase .showcase-bg {
        background-position: 50% 100%, 100% 70%;
    }
}

@media screen and (min-width: 992px) {
    .mainer {
        max-width: 960px;
    }

    .showcase {
        position: relative;
    }

    .showcase .showcase-content{
        width: 50%;
        height: 500px;
    }

    .showcase .showcase-content h1.heading {
        text-align: start;
        font-size: 3em;
    }
    .showcase .showcase-content p.description {
        margin-top: 2em;
        text-align: start;
    }

    .showcase .showcase-content .cta-button{
        margin: 5em auto 0 0;
    }

    .showcase .showcase-bg {
        position: absolute;
        background-image: url(../images/image-mockups.png), url(../images/bg-intro-desktop.svg);
        top: 0;
        right: 0;
        width: 50%;
        height: 110%;
        background-position: 50% -30%, 0% 0%;
        background-size: contain, contain;
        z-index: 10;
    }
    
}

@media screen and (min-width: 1200px) {
    .mainer {
        max-width: 1140px;
    }

    .options .option-card {
        margin: 0 auto;
        max-width: 250px;
    }

    .options .mainer > p.description {
        width: 60%;
    }

    .options .option-card img.option-img {
        margin: 3em 0 1em;
    }

    .options h1.heading,
    .options h3.heading,
    .options p.description {
        text-align: start;
    } 

    .articles .mainer {
        margin-bottom: 2em;
    }

    .articles .articles-list {
        flex-wrap: nowrap;
    }

    .articles .article-card {
        margin: 0 5px;
    }
}