/* Variables */

/* ## Colors */

:root {

/* ### Primary */

--dark-blue: #2d314d;
--lime-green: #31d35c;
--bright-cyan: #2bb7da;

/* ### Neutral */

--grayish-blue: #9698a6;
--lightgrayish-blue: #f3f4f6;
--very-light-gray: #fafafa;
--white: #ffffff;

}

/* RESET */

* {
    box-sizing: border-box;
}

body,p,a,ul,li, h1{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
  
a {
    color: red;
}
  
li {
    list-style-type: none;
}

/* BASE STYLES */

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

body.overlay {
    overflow-y: hidden;
}

img {
    width: 100%;
}

.mainer {
    padding: 1em;
    width: 100%;
}

.flex-row {
    display: flex;
}

.cta-button {
    font-size: 0.95em;
    font-weight: 700;
    color: black;
    padding: 1em 2em;
    border-radius: 1.5em;
}

/* JavaScript classes */

.leave {
    transform: translateY(-250%);
}

.arrive {
    transform: translateY(0);
}

/* MOBILE STYLES */

header.header {
    background-color: var(--white);
    display: flex;
    padding-top: 0.4em;
    border: 1px solid;
}

header.header  .flex-row {
    align-items: center;
    position: relative;
}

header.header  .flex-row a.logo {
    line-height: 0;
    width: 50%;
}

nav.navigation {
    margin-left: auto;
}

nav.navigation .toggler{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

nav.navigation .close {
    position: absolute;
    top: 0;
    right: 0.5em;
    transform: translateY(-200%);
    background-image: url(../images/icon-close.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease-in;
}

nav.navigation .close.arrive {
    transform: translateY(0);
}

nav.navigation .toggler span.toggler-line {
    height: 1px;
    width: 35px;
    background-color: black;
    margin: 4px;
}

header.header ul.menu-list {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 7em;
    border-radius: 0.4em;
    border: 1px solid;
    background-color: var(--white);
    z-index: 2;
    transition: transform 0.4s ease-in;
}

header.header ul.menu-list.arrive {
    transform: translate(-50%, 0);
}

header.header ul.menu-list li.menu-item {
    margin: 0.5em 0;
}

header.header .cta-button {
    display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

