/* Variables */

/* ## Colors */

:root {

/* ### Primary */

--dark-blue: #2d314d;
--lime-green: #31d35c;
--bright-cyan: #2bb7da;

/* ### Neutral */

--grayish-blue: #9698a6;
--lightgrayish-blue: #f3f4f6;
--very-light-gray: #fafafa;
--white: #ffffff;

}

/* RESET */

* {
    box-sizing: border-box;
}

body,p,a,ul,li, h1{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
  
a {
    color: red;
}
  
li {
    list-style-type: none;
}

/* BASE STYLES */

body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

body.overlay-active {
    overflow-y: hidden;
}

img {
    width: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}

.mainer {
    padding: 1em;
    width: 100%;
}

.flex-row {
    display: flex;
}

.heading {
    font-weight: 300;
    text-align: center;
    color: var(--dark-blue);
}

h3.heading {
    font-weight: 400;
}

p.description {
    color: var(--grayish-blue);
    line-height: 1.5em;
    text-align: center;
}

.cta-button {
    width: fit-content;
    display: block;
    font-size: 0.95em;
    font-weight: 700;
    color: White;
    letter-spacing: 0.05em;
    padding: 0.8em 2em;
    border-radius: 1.5em;
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}

/* JavaScript classes */

.leave {
    transform: translateY(-250%);
}

.arrive {
    transform: translateY(0);
}

/* MOBILE STYLES */

/* header */

header.header {
    position: relative;
    background-color: var(--white);
    display: flex;
    padding-top: 0.4em;
    z-index: 10;
}

header.header  .flex-row {
    align-items: center;
    position: relative;
}

header.header  .flex-row a.logo {
    line-height: 0;
    width: 50%;
}

nav.navigation {
    margin-left: auto;
}

nav.navigation .toggler{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

nav.navigation .close {
    position: absolute;
    top: 0;
    right: 0.5em;
    transform: translateY(-200%);
    background-image: url(../images/icon-close.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease-in;
}

nav.navigation .close.arrive {
    transform: translateY(0);
}

nav.navigation .toggler span.toggler-line {
    height: 1px;
    width: 35px;
    background-color: black;
    margin: 4px;
}

header.header ul.menu-list {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translate(-50%, -150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 7em;
    border-radius: 0.4em;
    background-color: var(--white);
    z-index: 2;
    transition: transform 0.4s ease-in;
}

header.header ul.menu-list.arrive {
    transform: translate(-50%, 0);
}

header.header ul.menu-list li.menu-item {
    margin: 0.5em 0;
}

header.header ul.menu-list li.menu-item a {
    color: black;
}

header.header .cta-button {
    display: none;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.overlay.active {
    display: block;
}

/* showcase */

.showcase {
    background-color: var(--very-light-gray);
}

.showcase img.showcase-cover {
    position: absolute;
    top: -4em;
    left: 0;
    width: 100%;
    background-image: url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showcase .showcase-content {
    margin-top: 50vh;
    margin-bottom: 5em;
}

.showcase .showcase-content h1 {
    margin-bottom: 0.5em;
}

.showcase .showcase-content p {
    margin-bottom: 2em;
}

.showcase .showcase-content .cta-button {
    margin: 0 auto;
}


/* Options */

.options {
    background-color: var(--lightgrayish-blue);
}

.options h1 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.9em;
}

.options .option-card .option-img {
    width: 5em;
    display: block;
    margin: 3em auto 1em;
}

.options .option-card:last-of-type {
    margin-bottom: 5em;
}

/* Articles */

.articles {
    background-color: var(--very-light-gray);
}

.articles h2 {
    font-size: 1.9em;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.articles .article-card img.article-img {
    border-radius: 0.5em 0.5em 0 0;
}

.articles .article-card .article-text {
    width: 90%;
    margin: 3em auto;
}

.articles .article-card .article-text h3.heading, p.description {
    text-align: start;
}

.articles .article-card span.subheading {
    font-size: 0.8em;
    display: block;
    color: var(--grayish-blue);
}

/* Bigger mobile */

@media screen and (min-width: 440px) {
    
.showcase img.showcase-cover {
    top: -10em;
}
}
